<div id="ej1">
    <div id="centrar">
        <h1>Bloque 2</h1>
        <div>
            <button (click)="click()">Dale al Click</button><br>      
        </div>
        <div>
            <h2> </h2>
        </div>
        <h1>Lorem, ipsum dolor.</h1>
        <img src="assets/image/fuegoVegetal.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem iure vero saepe distinctio.
            Assumenda placeat aspernatur, voluptas soluta ad molestiae perferendis nihil officia ipsa. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Atque qui, blanditiis itaque mollitia maxime perspiciatis quia quos
            maiores quo modi consectetur natus aliquid, voluptatem molestiae.</p>
    </div>
</div>