<body>
    <div id="content">
        <h1>Bienvenidos al la pagina creada con rutas</h1>
        <h2>Tenemos página de inicio</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum tempora, quidem asperiores sed excepturi
            expedita similique fuga dolores commodi consectetur? Quia earum iste vero placeat sit accusamus at odit
            reiciendis praesentium, aperiam, doloremque voluptatem quo vitae maxime tempore amet debitis a magni
            corrupti iusto. Vel dolore cum recusandae enim accusamus expedita placeat, qui ad minus doloribus veritatis
            doloremque eos facere nemo mollitia labore inventore! Numquam voluptatem dignissimos molestias repudiandae
            temporibus?</p>
    </div>
</body>