<body background="assets/image/fondo.jpg">
  <div>
    <div id="ej1">
      <div id="centrar">
        <h2> MENU </h2>
        <ul>
          <li> Bloque 1 </li>
          <li> Bloque 2 </li>
          <li> Bloque 3 </li>
          <li> Componente 1 </li>
        </ul>
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur sunt totam voluptatum adipisci eligendi
        aliquam facere. Quas labore excepturi et, delectus possimus, at, doloribus reprehenderit vitae voluptas vero
        aliquam. Atque fuga magnam eligendi saepe neque ipsum rem? Necessitatibus reiciendis accusantium nihil libero
        qui
        quam voluptatibus saepe porro ex! Placeat, magnam.</p>
    </div>
  </div>
</body>