.letras {
  font-size: 30px;
  padding: 5px;
}
h1 {
  font-size: 30px;
  padding: 5px;
}
p {
  font-size: 30px;
  padding: 5px;
  color: blue;
}
span {
  font-size: 30px;
  padding: 5px;
  color: orange;
}
