/*General*/

* {
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;  
}

#content {
  width: 80%;
  margin: 2em auto;
} 

/*Text*/
h1{
  margin-top: 1em;
  text-align:center;
  color:black;
  }
  
  h2 {
    color: rgb(122, 44, 83);
  }
  
  a{
    color:   rgb(30, 105, 95) ;
    text-decoration: none;
  }
  
  a:hover{
    color: rgb(190, 29, 107);
  }
  
  a.enlace_desactivado {
      pointer-events: none;
      cursor: default;
      text-decoration:line-through;
      color: rgb(68, 14, 14);
  }

  .paragraf{
    margin: var(--unit2) 0;
  }
  
  .paragraf h2{
    text-align: center;
  }
  
  .paragraf p{
    text-align: justify;
  }
  
  .paragraf p::first-letter {
    font-size: 38px;
    line-height: .8;
    font-weight: bold;
    margin-right: .1em;
  }

/*Menu / Navbar*/

nav{
	text-align: center;
	background-color: rgb(187, 206, 204);
}

nav ul{
	list-style: none; 
	display: inline-flex;
	padding: 0;
	margin: 0;
}

nav ul li{
	padding: 1.5rem;
	color:rgb(190, 29, 107);
}

nav ul li:hover{
	background-color: rgba(0,0,0, .4);
	color: var(--white);
}

/*Footer*/
footer{
  width: 100%;
  text-align:center;
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
  }
  
