#content    {
  width: 80%;
  margin: 2em auto;
  border-radius: 0.5rem; 
  text-align: center; 
  color: black;
}

body {
  background-color: rgba(111, 170, 157, 0.637);
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;  
}

* {
  box-sizing:border-box;
}




