body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #content {
    width: 80%;
    margin: 2em auto;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: justify;
  }
  